<nav class="bottom-nav">
  @for (item of navItems; track item.route) {
    @if (item.isAction) {
      <button
        (click)="openAddTransaction()"
        class="action-button"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    } @else {
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.route === '/dashboard' }"
        class="nav-item"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </a>
    }
  }
</nav>
